.emote-picker {
	position: absolute;
	right: 25px;
	bottom: 100px;
	z-index: 1000;
	width: calc(28px * 10.35);
    min-height: 300px;
    background: #181818aa;
    img{
        cursor: pointer;
    }
}

.emote-picker__header, .emote-picker__footer{
    background: #121212;
}

#root .emote-picker .emote-picker__header .emote-picker--searchbar{
    width: 165px;
    padding: .5rem;
    margin-left: -5px;
}

.emote-picker__header{
    height: 50px;
    display: flex;
    align-items: center;
    img{
        margin: 0 .1rem;
    }
}

.emote-picker__footer{
    height: 75px;
    display: flex;
    align-items: center;
    // justify-content: center;
    img{
        width: 50px;
        height: 50px;
        margin: 0 1rem;
    }
}

.emote-picker__body{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    max-height: 300px;
    height: 300px;
    align-content: start;
    img{
        cursor: pointer;
        margin: .25rem;
        height: 28px !important
    }
}

.emote-picker-node-enter {
	opacity: 0;
	transform: translateY(10%);
}
.emote-picker-node-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: 400ms;
}
.emote-picker-node-exit {
	transform: translateY(0);
	opacity: 1;
}
.emote-picker-node-exit-active {
	opacity: 0;
	transform: translateY(10%);
	transition: 400ms;
}
