.emote-picker {
	position: absolute;
	right: 25px;
	bottom: 100px;
	z-index: 1000;
	width: calc(28px * 10.35);
    min-height: 300px;
    background: #121212aa
}

.emote-picker__header{
    height: 50px;
}

.emote-picker__footer{
    height: 75px;
}

.emote-picker__body{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    max-height: 300px;
    img{
        cursor: pointer;
        margin: .25rem;
    }
}

.emote-picker-node-enter {
	opacity: 0;
	transform: translateY(10%);
}
.emote-picker-node-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: 400ms;
}
.emote-picker-node-exit {
	transform: translateY(0);
	opacity: 1;
}
.emote-picker-node-exit-active {
	opacity: 0;
	transform: translateY(10%);
	transition: 400ms;
}
