.Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 215px;
    /* height: 280px; */
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: radial-gradient(var(--distwitchchat-blue), #214d69);
    border-radius: .5rem;
    border: none;
    outline: none;
    font-family: Montserrat;
    animation: scale-in .25s forwards;
}

.Modal-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #214d6966;
    animation: fade-background-in .35s forwards
}

.logo-icon{
    margin-right: .5rem;
}

.yt-icon{
    transform: scale(1.125);
}

.modal-buttons{
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-heading{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 6px 0;
}

.modal-subheading{
    margin: 6px 0;
    font-size: 14px;
}

.modal-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
    margin: .5rem 0;
    border-radius: 100rem;
    transition: .125s;
    height: 24px;
    width: 70%;
    cursor: pointer;
    color: white;
    border: none;
}

.modal-button:hover{
    filter: brightness(.85)
}

.modal-button.youtube{
    background: var(--youtube-background)
}

.modal-button.twitch{
    background: var(--twitch-background)
}