h1 {
	font-family: Montserrat;
	font-size: 32px;
}

hr {
	width: 90%;
	border-top: 1px solid;
}

.my-channels {
	position: absolute;
	top: 0;
	padding-top: 1rem;
	width: 100%;
	.window-focused & {
		height: calc(100vh - 111px);
	}
	height: calc(100vh - 45px);
	transition: 400ms;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(119.36deg, #17181ba1 21.35%, #24252aa1 76.56%);
}



.remove-btn {
    position: absolute;
    $pos: -6px;
    top: $pos;
	right: $pos;
}

.pin-btn{
    position: absolute;
    $pos: -6px;
    top: $pos;
	left: $pos;
}

.channel-btn {
	&:active {
		transform: scale(0.85) !important;
	}
	border: none;
	outline: none !important;
	color: red !important;
	width: 28px;
	height: 28px;
	padding: 4px;
	box-sizing: border-box !important;
	background: darken(#2a2c30, 5);
	border-radius: 50%;
	display: flex;
    justify-content: center;
    color: red;
    fill: red;
    img{
        transform: scale(.75);
    }
    svg {
		width: 20px;
		height: 20px;
        fill: red;
        color: red;
	}
}

#root .channel-item.add-channel {
	display: grid;
	justify-content: center;
	grid-template-columns: 100%;
	padding: 0.5rem 0;
	box-sizing: border-box !important;
	min-height: fit-content !important;
	h5 {
		text-align: center;
		margin: 0;
	}
	.error-message {
		text-align: center;
		margin-bottom: 0.5rem;
		color: #ee4238;
	}
	form {
		display: flex;
		align-items: center;
		justify-content: space-around;
		button {
			outline: none !important;
			margin-right: 0.5rem;
		}
		button:active {
			transform: scale(0.95);
		}
		.search-container {
			width: 70%;
			.settings--searchbox {
				width: 100%;
			}
		}
	}
}

.channel-item {
	display: flex;
	align-items: center;
	width: 95%;
	min-height: 100px;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	background: #2a2c30;
	box-shadow: 3px 3px 5px -2px #0b0c0e;
	transition: 0.25s;
    animation: fade-in 0.5s ease-in-out forwards;
    *{
        outline: none !important
    }
}

.channel-item:hover {
	/* transform: translateY(-3px); */
	box-shadow: 5px 5px 5px -2px #0b0c0e;
	background: #33363b;
}

.channel-profile-pic {
	width: 100px;
	height: fit-content;
	display: flex;
	align-items: center;
	padding: 0 1.5rem;
	position: relative;
	background: none !important;

	&:after {
		content: "";
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		right: 24px;
		bottom: 0;
        background: #515151;
        // display:none;
	}
	&.live:after {
        display: block;
		background: #e91916;
	}
}

.channel-profile-pic img {
	max-width: 100%;
	// background: black;
	border-radius: 50%;
	min-width: 25px;
}

.channel-info {
	display: flex;
	align-items: center;
	height: 100px;
	width: 100%;
	padding-right: 1.5rem;
	justify-content: space-between;
}

.channel-name {
	/* font-size: 2rem; */
	text-transform: capitalize;
	padding-right: 0.5rem;
}

.dashboard-link{
    transition: .125s;
    &:active{
        transform: scale(.95);
    }
}

.dashboard-button {
	background: linear-gradient(283deg, #f9af15, #f95515);
}

.to-dashboard {
	padding: 0.25rem 0.75rem;
	border-radius: 0.25rem;
	border: none;
	outline: none;
	color: white;
	transition: 0.25s;
	min-width: 70px;
	/* width: 128px; */
}

.channel-buttons {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	* {
		margin: 0 0.5rem;
	}
}

.to-dashboard:not(:disabled) {
	cursor: pointer;
}

.to-dashboard:hover:not(:disabled) {
	font-weight: bold;
	text-decoration: underline;
}

.to-dashboard:disabled {
	font-size: 12px;
	background: var(--disstreamchat-blue);
	filter: grayscale(1);
}

@keyframes fade-in {
	0% {
		transform: translateY(-1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.channel-div::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.channel-div {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.modchannels {
	height: 65vh;
	overflow-y: auto;
	margin-bottom: 0.5rem;
	position: relative;
	/* padding-bottom: .5rem; */
}

.mychannel {
	min-height: fit-content;
}

@media screen and (max-width: 550px) {
	.channel-name {
		font-size: 14px;
	}
	.channel-profile-pic {
		padding-right: 1rem;
		padding-left: 1rem;
		&:after {
			right: 16px;
		}
	}
}

@media screen and (max-width: 525px) {
	.to-dashboard {
		font-size: 12px;
		&:not(:disabled) {
			max-width: 80px;
		}
		width: fit-content;
		padding: 0.5rem;
	}

	.channel-name {
		font-size: 12px;
	}
}

@media screen and (max-width: 480px) {
	.channel-buttons * {
		margin: 0 0.25rem;
	}
}

@media screen and (max-width: 400px) {
	.channel-profile-pic {
		padding-right: 0.5rem;
		width: 30px;
	}

	.channel-profile-pic img {
		max-width: 30px;
	}
}

@media screen and (max-width: 450px) {
	.channel-profile-pic {
		width: 0px;
		padding-left: 2rem;
		// outline: solid;
		&:after {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.channel-profile-pic img {
		max-width: 0px;
		min-width: 0px;
	}

	.channel-buttons {
		flex-wrap: wrap;
		align-items: center;
		flex: 0;
		* {
			margin: 0.25rem;
		}
		.to-dashboard {
			min-width: 100px;
		}
	}
}

@media screen and (max-width: 350px) {
	.channel-name {
		margin-left: -0.5rem;
		font-size: 10px;
	}

	.to-dashboard {
		padding: 0.25rem;
		/* font-size: 10px !important; */
	}

	.to-dashboard:disabled {
		font-size: 10px !important;
	}
}


.compact-channels{
	.channel-item{
		margin: .25rem 0;
		min-height: 50px;
	}
	.channel-profile-pic {
		width: 0px;
		padding-left: 2rem;
		// outline: solid;
		&:after {
			top: 50%;
			left: 50%;
			transform: translate(0%, -50%);
		}
		img{
			display: none;
		}
	}
}