h1{
    font-family: Montserrat;
    font-size: 32px;
}

hr {
    width: 90%;
    border-top: 1px solid;
}

.my-channels{
    position: fixed;
    top: 66px;
    width: 100%;
    height: 100vh;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(119.36deg,#17181ba1 21.35%,#24252aa1 76.56%);
}

.channel-item{
    display: flex;
    align-items: flex-start;
    width: 80%;
    height: 100px;
    margin: .5rem 0;
    border-radius: .5rem;
    background: #2a2c30;
    box-shadow: 3px 3px 5px -2px #0b0c0e;
    transition: .25s;
    animation: fade-in .5s ease-in-out forwards;
}

.channel-item:hover{
    /* transform: translateY(-3px); */
    box-shadow: 5px 5px 5px -2px #0b0c0e;
    background: #33363b;
}

.channel-profile-pic{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.channel-profile-pic img{
    max-width: 100%;
    /* background: black; */
    border-radius: 50%;
}

.channel-info{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 1.5rem;
    justify-content: space-between;
}

.channel-name{
    /* font-size: 2rem; */
    text-transform: capitalize;
}

.dashboard-button{
    background: linear-gradient(283deg,#f9af15,#f95515);
}

.to-dashboard{
    padding: .75rem;
    border-radius: .25rem;
    border: none;
    outline: none;
    color: white;
    transition: .25s;
    width: 128px;
}

.to-dashboard:not(:disabled){
    cursor: pointer;
}

.to-dashboard:hover:not(:disabled){
    font-weight: bold;
    text-decoration: underline;
}

.to-dashboard:disabled{
    font-size: 12px;
    background: var(--distwitchchat-blue);
    filter: grayscale(1)
}

@keyframes fade-in{
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}