.header {
	width: 100vw;
	height: 65px;
	/* background: black; */
	display: flex;
	align-items: center;
	flex-direction: column;
	/* justify-content: space-between; */
	background: #17181ba1;
	transition: 0.5s ease-in-out;
	transition-property: height, background;
	position: fixed;
	z-index: 10;
	padding-top: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
    box-sizing: border-box !important;
    &, *:not(.item){ 
        font-family: Montserrat !important;
    }
}

.messages-notification{
    position: relative;
    cursor: pointer;
    &.unread::after{
        content: "";
        width: 8px;
        height: 8px;
        background: red;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 2px;
        right: -2px;
    }
}

.version {
	position: fixed;
	top: 6px;
	left: 10px;
	z-index: 999999;
}

.header.open {
	background: #2a2c30;
	height: calc(100vh - 30px);
}

#root .overlay .settings--searchbox {
	width: 100vw;
}

#root .settings--searchbox {
	box-sizing: border-box;
	width: 90vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	align-self: center;
	justify-self: center;
	padding: 0.75rem;
	margin: 0.5rem 0;
	border-radius: 0.35rem;
	border: none;
	outline: none;
	background: #212121;
	box-shadow: 3px 3px 5px 0 #111;
	color: white;
	transition: 0.25s;
	font-size: 1rem;
}

#root .settings--searchbox:hover,
#root .settings--searchbox:active,
#root .settings--searchbox:focus {
	box-shadow: 5px 5px 5px 0 #111;
}

.settings--searchbox::placeholder {
	font-weight: bold;
}

.search-container {
	z-index: 100;
	position: sticky;
	top: 0px;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-self: center;
	align-items: center;
}

#root .clear-button {
	transition: 0.25s;
	opacity: 0;
	position: relative;
	left: -1.5rem;
}

#root .search-container:hover .clear-button,
#root .settings--searchbox:active ~ .clear-button,
#root .settings--searchbox:focus ~ .clear-button,
.clear-button:hover {
	opacity: 1;
}

.header-settings {
	transition: 0.5s ease-in-out;
	overflow: auto;
	overflow-x: hidden;
	max-width: 93vw;
	width: 90vw;
	padding: 0 0.5rem;
	justify-self: right;
	display: flex;
	flex-direction: column;
}

.header:not(.open) > .header-settings {
	height: 0;
}

.MuiSwitch-root {
	box-sizing: border-box !important;
}

.titlebar {
	background: #17181ba1 !important;
}

.icon {
	width: 50px;
	height: 50px;
	transform: scale(1.2);
	border-radius: 100%;
	cursor: pointer;
	color: white;
}

.icon-container {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 0px 15px 0px #7288d9;
	border-radius: 100%;
	overflow: hidden;
	color: white;
}

.chevron {
	transition: 0.5s ease-in-out !important;
}

.chevron.open {
	transform: rotate(180deg);
	opacity: 0;
}

.header-lower {
	height: 20px;
	width: 100%;
	/* border: solid; */
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0.25rem;
	font-size: 2.5rem;
	left: -4px;
}

.closeButton {
	position: absolute;
	top: 65px;
	left: 0px;
	font-size: 2rem !important;
    transition: 0.5s !important;
	&:not(.open) {
        opacity: 0;
		display: none;
	}
}

#root .header-lower * {
	font-size: inherit;
}

.nav {
	/* position: absolute; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem !important;
}

.nav button {
	font-size: 0.75rem !important;
	outline: none !important;
}

.nav button:active {
	transform: scale(0.95);
}

.nav .MuiButton-contained {
	background: var(--disstreamchat-blue);
	transition: 0.25s;
	color: white !important;
}

#root .nav .MuiButton-contained:hover {
	background: var(--disstreamchat-blue);
	filter: contrast(125%);
}

#root .nav .MuiButton-containedPrimary:hover {
	background: var(--disstreamchat-purple);
}

.nav .MuiButton-containedPrimary {
	background: var(--disstreamchat-purple);
}

#root .MuiFormControlLabel-root {
	width: 100%;
}

#root .makeStyles-root-128 {
	max-width: 250px;
	width: 100%;
}

@media screen and (max-width: 575px) {
	.nav button {
		font-size: 0.6rem !important;
		outline: none !important;
	}
}

@media screen and (max-width: 500px) {
	.nav button {
		font-size: 0.5rem !important;
	}
	.stats {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 450px) {
	.nav button {
		/* max-width: 25px; */
		/* max-width: 10vw !important; */
		font-size: 0.45rem !important;
		padding: 6px 4px !important;
	}
}

@media screen and (max-width: 350px) {
	.nav button {
		min-width: fit-content !important;
		/* font-size: .4rem !important; */
	}
}

@media screen and (max-width: 340px) {
	.color-preview {
		margin-right: 4rem;
	}
}

@media screen and (max-width: 300px){
    .closeButton{
        transform: scale(.75);
        left: 0;
    }
}

.stats {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-self: start;
}

.stats * {
	margin: 0 0.25rem;
	display: flex;
	align-items: center;
}

.live-viewers{
    cursor: pointer;
    svg.MuiSvgIcon-root{
        padding: .25rem;
        border-radius: .25rem;
        transition: .5s;
        &:hover{
            background: #ffffff26
        }
    }
}

.live-status {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #747f8d;
	/* border: 4px solid #9ea5af; */
	/* box-sizing: border-box !important; */
}

.live {
	background: #f04747;
	/* border: 4px solid #f57e7e; */
}

.list-header {
	align-items: center;
	display: flex;
	grid-column: 1 / span 2;
	height: 70px;
	padding-left: 0.75rem;
}

.list-setting {
	display: block !important;
	overflow: hidden;
	transition: 0.25s;
	h3 {
		margin: 0;
	}
	&,
	* {
		font-size: 1rem;
	}
}

.keybind-body{
    display: flex;
    align-items: center;
    justify-content:  space-around;
    margin-bottom: 1rem;
    .preview{
        border: .5px solid white;
        color: white;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background: rgba(116,127,141,.1);
        height: calc(40px - 1rem);
        flex: .25;
        text-align: center;
    }
    .keybind--disabled{
        color: #aaa;
        border: .5px solid #aaa;
    }
    button {
		border: none;
		outline: none !important;
        background: rgba(116,127,141,.3);
        padding: .5rem 1rem;
        border-radius: .5rem;
        color: white;
        
        transition: 0.05s;
        margin: 0 .5rem;
        &:hover, &:focus {
            background: rgba(116,127,141,.5)
        }
		svg {
			transform: scale(1.5);
		}
		&:active {
			transform: scale(0.95);
		}
	}
}



.list-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	.item {
		box-sizing: border-box !important;
		height: 50px;
		border-radius: 0.5rem;
		border: 1px solid white;
		width: 75%;
		display: flex;
		justify-content: space-between;
		padding: 0 2rem;
		align-items: center;
		overflow: hidden;
		&,
		* {
			text-transform: none;
		}
		& + * {
			margin: 0.5rem 0;
		}
	}
	button {
		border: none;
		outline: none !important;
		background: none;
		color: white;
		transition: 0.05s;
		svg {
			transform: scale(1.5);
		}
		&:active {
			transform: scale(0.9);
		}
	}
	.adding-item {
		input {
			box-sizing: border-box !important;
			height: 100%;
			flex: 1;
			background: none;
			border: none !important;
			outline: none;
			color: white;
			font-weight: 600;
			font-size: 1rem;
		}
	}
	.buttons {
		width: fit-content;
		*:last-child {
			margin-right: 0;
		}
		* {
			margin: 0 0.125rem;
		}
	}

	.add-item {
		margin-bottom: 0.5rem;
	}
}

.list-setting.open {
	// max-height: 3000px;
	height: fit-content;
}

.list-body.selector {
	max-height: 380px;
	overflow: auto;
    width: 80%;
    margin: auto;
	&::-webkit-scrollbar {
		width: 10px;
		height: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f100;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 15px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.item {
        min-height: 50px;
        width: 95%;
		margin: 0.5rem 0;
	}
}
