.header {
	width: 100vw;
    height: 60px;
    /* background: black; */
	display: flex;
    align-items: center;
    flex-direction: column;
	/* justify-content: space-between; */
    background: #17181ba1;
    transition: .5s ease-in-out;
    transition-property: height, background;
    position: fixed;
    z-index: 10;
    padding-top: 5px;
}

.header.open{
    background: #2a2c30;
    height: calc(100vh - 30px - 5px);
}

#root .settings--searchbox {
	box-sizing: border-box;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    justify-self: center;
	padding: 0.75rem;
	margin: 0.5rem 0;
	border-radius: 0.35rem;
	border: none;
	outline: none;
	background: #212121;
	box-shadow: 3px 3px 5px 0 #111;
	color: white;
	transition: 0.25s;
    font-size: 1rem;
}

#root .settings--searchbox:hover,
#root .settings--searchbox:active,
#root .settings--searchbox:focus {
	box-shadow: 5px 5px 5px 0 #111;
}

.settings--searchbox::placeholder {
	font-weight: bold;
}

.search-container {
    z-index: 100;
    position: sticky; 
    top: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: center;
    align-items: center;
}

#root .clear-button {
	transition: 0.25s;
	opacity: 0;
	position: relative;
	left: -1.5rem;
}

#root .search-container:hover .clear-button,
#root .settings--searchbox:active ~ .clear-button,
#root .settings--searchbox:focus ~ .clear-button,
.clear-button:hover {
	opacity: 1;
}

.header-settings{
    transition: .5s ease-in-out;
    max-height: 920px;
    overflow: auto;
    overflow-x: hidden;
    max-width: 93vw;
    width: 90vw;
    padding: 0 .5rem;
    justify-self: right;
    display: flex;
    flex-direction: column;
}

.header:not(.open) > .header-settings{
    height: 0;
}

.MuiSwitch-root{
    box-sizing: border-box !important;
}

.titlebar{
    background: #17181ba1 !important
}

.icon {
	width: 50px;
	height: 50px;
	transform: scale(1.2);
	border-radius: 100%;
	cursor: pointer;
	color: white;
}

.icon-container {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 0px 15px 0px #7288d9;
	border-radius: 100%;
	overflow: hidden;
	color: white;
}

.chevron{
    transition: .5s ease-in-out !important
}

.chevron.open{
    transform: rotate(180deg);
}

.header-lower{
    height: 20px;
    width: 100%;
    /* border: solid; */
    display: flex;
    align-items: center;
    position: absolute;
    bottom: .25rem;
    font-size: 2.5rem;
    left: -4px
}

#root .header-lower *{
    font-size: inherit
}

.nav {
    width: 100%;
    /* position: absolute; */
    top: 35px;
	display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 .5rem !important;
}

.nav button {
	font-size: .75rem !important;
	outline: none !important;
}

.nav button:active {
	transform: scale(.95);
}

.nav .MuiButton-contained {
    background: var(--distwitchchat-blue);
    transition: .25s;
	color: white !important;
}

#root .nav .MuiButton-contained:hover {
    background: var(--distwitchchat-blue);
    filter: contrast(125%)
}

#root .nav .MuiButton-containedPrimary:hover{
    background: var(--distwitchchat-purple);
}

.nav .MuiButton-containedPrimary {
	background: var(--distwitchchat-purple);
}

#root .MuiFormControlLabel-root {
	width: 100%;
}

#root .makeStyles-root-128 {
	max-width: 250px;
	width: 100%;
}

@media screen and (max-width: 575px) {
	.nav button {
		font-size: .6rem !important;
		outline: none !important;
	}
}

@media screen and (max-width: 500px) {
	.nav button {
		font-size: .5rem !important;
	}
}

@media screen and (max-width: 450px) {
    .nav button{
        /* max-width: 25px; */
        /* max-width: 10vw !important; */
        font-size: .45rem !important;
        padding: 6px 4px !important
	}
}

@media screen and (max-width: 350px) {
    .nav button{
        min-width: fit-content !important;
        font-size: .4rem !important;
    }
}

@media screen and (max-width: 340px){
    .color-preview{
        margin-left: -1rem;
        margin-right: 4rem;
    }
}
