.profile-pic {
	max-width: 2.5rem;
	margin-left: .3rem;
	margin-top: .3rem;
	border-radius: 50%;
    display: inline-block !important;
    /* background: black  */
}

.name {
	display: flex;
	/* width: 100%; */
	align-items: center;
}

.msg-header {
	display: flex;
	width: 98%;
	justify-content: space-between;
}

* {
    font-family: "Roboto", sans-serif !important;
}

.message {
	font-family: "Roboto", sans-serif;
    max-width: 640px;
    width: 100vw;
	padding: .2rem;
	margin: .125rem 0;
	animation: animate-in .7s ease-in-out 0s 1 forwards;
	border-radius: .5rem;
	overflow: hidden;
	transform-origin: top right;
	color: white;
	background: var(--grey);
	font-size: 1.5rem;
	max-height: fit-content;
}

.fade-out {
	animation: animate-out .7s ease-in-out 0s 1 forwards !important;
}

.msg-body {
	padding: .5rem;
	max-height: 300px;
	overflow: auto;
    color: white !important;
    margin: 0 !important;
    max-width: 640px !important;
    word-break: break-all !important;
    font-size: inherit !important;
    white-space: pre-wrap; 
    display: flex;
}

p {
    word-wrap: break-word !important;
}

.msg-body *{
    color: white;
    white-space: pre-wrap;
}

.discord-message {
	background: var(--distwitchchat-blue);
}

.twitch-message {
	background: var(--distwitchchat-purple);
}

.emote {
	width: 2rem;
}

@keyframes animate-in {
	from {
		transform: scale(0) translateX(-50%);
        opacity: 0;
	}
	to {
		transform: scale(1) translateX(0);
        opacity: 1;
	}
}

@keyframes animate-out {
	from {
		transform: scale(1) translateX(0);
		opacity: 1;
	}
	to {
        transform: scale(0) translateX(-50%);
        margin: 0;
        padding: 0;
		opacity: 0;
	}
}

.exit-button {
	float: right;
	border: none;
	outline: none !important;
	background: none;
	color: inherit;
}

.source-button {
	border: none;
	outline: none !important;
	background: none;
	color: inherit;
	padding: 0;
	width: fit-content;
}

.exit-button:active {
	transform: scale(.9);
}

.profile {
	display: flex;
	align-items: center;
	margin-right: .5rem;
    justify-content: space-around;

}

.my-node-enter {
	height: 0px;
}
.my-node-enter-active {
	transition: 700ms;
	height: 173px;
}
.my-node-exit {
	height: 173px;
}
.my-node-exit-active {
	height: 0;
	transition: 700ms;
}

.highlighted-message {
	background: #a00037;
}

.source {
	padding-left: .5rem;
	height: 38px;
	overflow: hidden;
    transition: .5s;
    width: fit-content;
}

.source.open {
	height: fit-content;
}

.source-text {
    font-size: 1rem;
    max-width: 400px;
}

.sub-badge {
	position: absolute;
	top: 32px;
    left: 32px;
    /* transform: scale(1.25); */
}

.chat-badge {
	margin-left: .5rem;
}

.badge-0 {
	margin-left: .75rem;
}

img.discord {
	filter: hue-rotate(-10deg);
}

.discord-false {
	margin: 0 !important;
}

.message-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-indicator{
    font-size: 12px;
    padding: 0 1rem;
}