.emote {
	width: 2rem !important;
}


.sub-badge {
	position: absolute;
	top: 32px;
    left: 32px;
    /* transform: scale(1.25); */
}

.chat-badge {
	margin-left: .5rem;
}

.badge-0 {
	margin-left: .75rem;
}

img.discord {
	filter: hue-rotate(-10deg);
}