.viewer-type{
    width: 100%;
}

.viewers{
    width: 100%;
    box-sizing: border-box !important;
}

.viewer-card{
    border: .5px solid;
    padding: 0 .5rem;
}

.viewers-header{
    height: 100px;
    outline: solid;
}

.viewer-body{
    width: 100%;
    padding: 0 .1rem;
}