@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
	--discord-color: #7289da;
	--twitch-color: #613fa0;
	--base-color: #d2dae2;
    /* --base-color: #e6eaea; */
    --accent-color: #f5f5f5;
    --text-color: var(--accent-color);
    --sidebar-color: #2980b9;
    --sidebar-accent-color: #349bdb;
    --sidebar-dark-accent: #227093;
    --sender-text-color: #0a0a0a;
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
    --sidebar-width: 250px;
    --grey: rgb(51, 51, 51);
    --status-border-size: 3px;
    --error-color: #cc0000
}

.App{
    display: flex;
    align-items: center;
	justify-content: center;
	height: 100vh;
    background: var(--base-color);
}

.app{
    background: var(--base-color);
}

.app--dark {
    --sidebar-color: #2c3e50;
    --sidebar-accent-color: #32465a;
    --sidebar-dark-accent: #435f7a;
    /* --base-color: #222831; */
    --base-color: #1e272e;
    --accent-color: #393e46;
    --sender-text-color: var(--text-color);
    --grey: rgb(209, 209, 209);
    --error-color: red;
}

body{
    margin: 0;
	padding: 0;
}

.body{
    display: flex;
    justify-content: center;
}

.overlay{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    transition: 10s;
}

.overlay-container{
    height: calc(100vh - 130px);
    overflow: auto;
    width: fit-content;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p, h1{
  margin: 0 !important;
}

a{
  color: white !important;
  text-decoration: underline !important;
}

