body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #00000000 !important;
  height: calc(100vh - 4px);
}

.body--border{
    border: 2px solid;
}

input{
    color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}