body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #00000000 !important;
  height: 99.5vh;
}

.boarder{
    border: 1px solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}